html, body {
    margin: 0;
    padding: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#calculator-box {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    height: 550px;
    border: solid 2px orangered;
    border-radius: 25px;
    background-color: black;
    color: whitesmoke;
}

.row {
    width: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#display {
    height: 150px;
    font-size: 48px;
    display: flex;
    justify-content: right;
    align-items: flex-end;
    padding-right: 22px;
}

.btn {
    font-size: 28px;
    width: 60px;
    height: 60px;
    border-radius: 30px;
    border: solid 2px black;
}

#zero {
    width: 142px;
}

.right {
    background-color: orangered;
    color: whitesmoke;
}

.top {
    background-color: rgb(192, 189, 189);
}

.num {
    background-color: rgb(59, 59, 59);
    color: whitesmoke;
}

#last {
    padding-bottom: 22px;
}

#dot {
    background-color: rgb(59, 59, 59);
    color: whitesmoke;
}